[submodule "vendor/llama.cpp"]
	path = vendor/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "vendor/linenoise"]
	path = vendor/linenoise
	url = git@github.com:antirez/linenoise.git
[submodule "vendor/yyjson"]
	path = vendor/yyjson
	url = git@github.com:ibireme/yyjson.git
